{% extends 'webpanel/base.html' %}

{% block title %}Games - Game Servers{% endblock %}

{% block content %}
    <h2>Public Game Servers</h2>

    <div class="game-grid">
        <div class="game-box"></div>
        <div class="game-box"><img src="https://upload.wikimedia.org/wikipedia/en/9/92/Quake2box.jpg" alt="Quake II"></div>
        <div class="game-box"><img src="https://upload.wikimedia.org/wikipedia/en/2/24/Unreal_Tournament_cover.jpg" alt="Unreal Tournament"></div>
        <div class="game-box"><img src="https://upload.wikimedia.org/wikipedia/en/0/02/QuakeIIIbox.jpg" alt="Quake III Arena"></div>
        <div class="game-box"></div>
        <div class="game-box"></div>
    </div>
{% endblock %}
